<html>
  <body>
    <form action="/decrypt" method="post">  
      <input type="hidden" name="gistid" value="<%= @gistid %>" />
      <input type="password" name="password" />  
      <input type="submit" />  
    </form> 
  </body>
</html>
